.jcarousel-wrapper {
    position: relative;
}

/** Carousel **/

.jcarousel {
    width: 100%;
    position: relative;
    overflow: hidden;	
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
	border: 0px solid #ededed;
	margin-right: 2px;
	height:100px;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: 98px !important;
}


@media (max-width: 480px) {
	.jcarousel li {
		width: 200px;
		float: left;
		border: 0px solid #ededed;
		margin-right: 2px;
		height:auto;
	}
	
	.jcarousel img {
		display: block;
		max-width: 100%;
		height: auto !important;
	}
}
/** Carousel Controls **/

.jcarousel-control-next {
    position: absolute;
	width:16px;
	height:22px;
	z-index:999;
	right:6px !important;
	bottom:38%;
}

.jcarousel-control-next .icon{
	width:16px;
	height:22px;
	position:absolute;
	background-image:url(../../img/n.png);
	background-repeat:no-repeat;	
	top:4px;
	right:-2px;	
}

.jcarousel-control-prev {
    position: absolute;
	width:16px;
	height:22px;
	bottom:38%;
	left:6px !important;
	z-index:998;
}

.jcarousel-control-prev .icon{
	width:14px;
	height:20px;
	position:absolute;
	background-image:url(../../img/iconpre.png);
	background-repeat:no-repeat;	
	top:4px;
	left:-2px;	
}

.jcarousel-control-prev {
    left: 0px;
}

.jcarousel-control-next {
    right: 0px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
