﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucTourByTopicHome.ascx.cs" Inherits="MyWeb.views.Tour.ucTourByTopicHome" %>
<div id="tourByTopicHome">
    <asp:Literal runat="server" ID="ltrContent"></asp:Literal>
</div>