﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucProjectHot.ascx.cs" Inherits="MyWeb.views.project.ucProjectHot" %>
<div id="listProjectHot" class="listProject_all">
    <div class="listProject_label">
        <span>DỰ ÁN NỔI BẬT</span>
    </div>
    <div class="listProject_list">
        <asp:Literal runat="server" ID="ltrListItem"></asp:Literal>
    </div>
</div>
