﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucOnline.ascx.cs" Inherits="MyWeb.views.control.ucOnline" %>
<div class="box-support">
    <asp:Literal id="ltrSupport" runat="server"></asp:Literal>
</div>